<section class="homepage__bottom-hero">
<div class="bottom-hero__wrap" style="background-color: rgba(0,0,0,0);">
  <div class="bg--contain fill hide--small-down" style="background-image: url(//cdn.shopify.com/s/files/1/1533/3199/files/ElleCanadaLoves_BottomHomepageBanner_1670x328_desktop-min_x328@2x.png?v=1635771507);"></div>
  <div class="bg fill hide--medium" style="background-image: url(//cdn.shopify.com/s/files/1/1533/3199/files/ElleCanadaLoves_BottomHomepageBanner_760x664_Mobile-min_1024x@2x.png?v=1635771521);"></div>  
</div> 
</section>
<footer class="site-footer small--text-center" role="contentinfo">

  <div class="wrapper">
    <div  class="grid">
      <div class="grid grid-item large--one-half left-box">
        <div class="grid-item one-whole text-center">
        
            <img class="footer_logo_img"src="https://cdn.shopify.com/s/files/1/1533/3199/files/chatters_logo_08034e4d-11f9-4b40-8443-cff31028ff49_500x@2x.png?v=1498343680" alt="">
           
        </div>
        

 
      <div class="grid">
        <div class="grid-item large--one-whole">
          <!-- <h3>{{ 'layout.footer.get_in_touch' | t }}</h3> -->
          {% if settings.footer_social_enable %}
            <ul class="inline-list social-icons flex">
              {% if settings.social_twitter_link != blank %}
              <li>
                <h5 class="footer-link-h5">IN-SALOON</h5>
                 <div class="grid">
                   <span class="grid-item one-whole footer-link-span">Salon Services</span>
                   <span class="grid-item one-whole footer-link-span">Find our Hair Salons</span>
                   <span class="grid-item one-whole footer-link-span">Book Appointment</span>
                   <span class="grid-item one-whole footer-link-span" style="color: #41d1b9; font-weight: bold;">Careers</span>
                 </div>
            </li >
              {% endif %}
              {% if settings.social_facebook_link != blank %}
              <li>
                <h5 class="footer-link-h5">SHOOPING</h5>
                <div class="grid">
                  <span class="grid-item one-whole footer-link-span">Shipping & Returns</span>
                  <span class="grid-item one-whole footer-link-span">Shop Now pay later</span>
                  <span class="grid-item one-whole footer-link-span">Gift Cards</span>
                  <span class="grid-item one-whole footer-link-span">My Accounts</span>
                </div>
          
            </li>
              {% endif %}
              {% if settings.social_pinterest_link != blank %}
              <li>
                <h5 class="footer-link-h5" >ABOUT US</h5>
                <div class="grid">
                  <span class="grid-item one-whole footer-link-span">Our Story</span>
                  <span class="grid-item one-whole footer-link-span">Blog</span>
                  <span class="grid-item one-whole footer-link-span">Refer a Friend</span>
                  <span class="grid-item one-whole footer-link-span">Become an Affiliate</span>
                </div>
          
            </li>
              {% endif %}
              {% if settings.social_google_plus_link != blank %}
                <li>
                    <h5 class="footer-link-h5">SUPPORT</h5>
                    <div class="grid">
                      <span class="grid-item one-whole footer-link-span">Contact US</span>
                      <span class="grid-item one-whole footer-link-span">FAQ</span>
                      <span class="grid-item one-whole footer-link-span">Privacy Policy</span>
                      <span class="grid-item one-whole footer-link-span">Contest Disclaimer</span>
                    </div>
              
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>


    </div>
    

    <div class="grid-item text-center large--one-half right-box ">
      <h4 class="footer-signup-text" style="margin-top: 40px;">Sign up to receive our emails and get 15% off!</h4>
      <button class="footer-button">
        SIGN ME UP
      </button>
      <ul class="flex-icons">
        <span class="icon icon-facebook"></span>
        <span class="icon icon-twitter"></span>
        <span class="icon icon-instagram"></span>
        <span class="icon icon-pinterest"></span>
        <span class="icon icon-tumblr"></span>
        <span class="icon icon-youtube"></span>
      </ul>
      
 
   </div>
    
     

      <!-- {% if settings.footer_newsletter_enable %}
      <div class="grid-item large--one-third">
        <h3>{{ 'layout.footer.newsletter_title' | t }}</h3>
        {% include 'newsletter-form' %}
      </div>
      {% endif %} -->

    </div>

    <!-- <hr class="hr--small"> -->


  </div>
  
  <div class="footer-copyright">
    <!-- <div class="grid-item{% unless shop.enabled_payment_types == empty %} large--two-fifths{% endunless %}"> -->
      <!-- {% if settings.footer_legallinks_enable %}
        <ul class="legal-links inline-list">
          {% for link in linklists[settings.footer_legallinks_linklist].links %}
            <li><a href="{{ link.url | absolute_url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %} -->

      <ul class="legal-links inline-list ">
        <li>
          &copy; {{ 'now' | date: "yyyy" }} {{ shop.name }} Limited Partnership. All Rights Reserved.
        </li>
      </ul>
  

    <!-- {% unless shop.enabled_payment_types == empty %}
      <div class="grid-item large--three-fifths large--text-right">
        <ul class="inline-list payment-icons">
          {% for type in shop.enabled_payment_types %}
            <li>
              <span class="icon-fallback-text">
                <span class="icon icon-{{ type }}" aria-hidden="true"></span>
                <span class="fallback-text">{{ type | replace: '_',' ' }}</span>
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endunless %} -->

  </div>

</footer>
