<div class="header__top header__top__mobile-padding">
	<div class="row flex flex__align-center">	
		<div class="column small-3 hide--small-down text--center">
			<ul class="header__top__left ul--inline">
			  
			</ul>
		  </div>	
		<div class="column small-12 large-6 text--center">
			<div class="header__top__center ib">
				{%comment%}
				<span>
          {{'general.settings.store' | t }}
          <span class="current">
						<img title="{{current_language.culture_name}}" alt="{{current_language.culture_name}}" class="flag flag-{{current_language.two_letter_region_name | downcase}}" src="{{ 'images/blank.gif' | asset_url }}"/>
			  {{shop.name}}, {{current_currency.code}}
		  </span>
				</span>
				<ul>
					<li>
						<div class="language">
							<span>
                                {{'general.settings.language' | t }}
                                <span class="current">{{current_language.culture_name}}</span>
							</span>
              <ul>
                {% for store_language in shop.languages %}
                <li {% if store_language.culture_name == current_language.culture_name %} class="selected" {% endif %}>
                    <img alt="{{store_language.native_name}}" class="flag flag-{{store_language.two_letter_region_name | downcase}}" src="{{ 'images/blank.gif' | asset_url }}"/>
                    <a title="{{store_language.native_name}}" href="{{'/' | absolute_url : '', store_language.culture_name}}">{{store_language.native_name}}</a>
                  </li>
                {% endfor %}
              </ul>
						</div>
					</li>

					<li>
						<div class="store">
							<span>
                {{'general.settings.store' | t }} <span class="current">{{shop.name}}</span>
							</span>
							<ul>
                {% for store_temp in all_stores %}
                <li {% if currentStore.id == store_temp.id %} class="selected" {% endif %}>
									<a href="{{'/' | store_absolute_url : store_temp.id, current_language.culture_name}}">{{store_temp.name}}</a>
								</li>
                {% endfor %}
              </ul>
						</div>
					</li>

					<li>
						<div class="currency">
							<span>
                {{'general.settings.currency' | t }} <span class="current">{{current_currency.code}}</span>
							</span>
							<ul>
								{% for currency_temp in shop.currencies_codes %}
								<li {% if current_currency.code == currency_temp %} class="selected" {% endif %}>
									<a href="{{ '/common/setcurrency/' | append : currency_temp | absolute_url }}">{{currency_temp}}</a>
								</li>
                {% endfor %}
              </ul>
						</div>
					</li>

				</ul>
				{%endcomment%}
				<span class="icon icon--maple-leaf ib"></span>
				<span class="header__top__center__text ib">Free Shipping over $50 across Canada! </span>
			</div>
		</div>
	</div>
</div>

<div style="height: 33px;background: #eae7e4;">
	<center><span style="font-size: 12px;">Shop now. Pay with Klarna.</span></center>
</div>