<div ng-controller="cartController" class="template--cart">
    <div class="ajax-informer fade" ng-if="!cart">
        <div class="loader"></div>
        <span>{{ 'cart.general.loading_cart_message' | t }}</span>
    </div>

    <div class="ajax-informer" ng-if="cart" ng-class="{ 'fade': cartIsUpdating }">
        <div class="loader"></div>
        <span>{{ 'cart.general.updating_cart_message' | t }}</span>
    </div>

    <div class="page-title">
        <div class="row">
          <div class="column small-12">
            <h1 class="h1">Shopping Bag</h1>  
          </div>
        </div>
    </div>

    <vc-content-place id="CartSlider"></vc-content-place>

    {%comment%}{% include 'quick-order-section' %}{%endcomment%}
    {% assign showFooterBanner = false%}

    <span ng-if="cart.itemsCount == 0" ng-cloak="">
        <h2>{{ 'cart.general.empty' | t }}</h2>
        <p>{{ 'cart.general.continue_browsing_html' | t }} <a href="{{ '/' | absolute_url }}">{{ 'cart.general.here' | t }} </a></p>
    </span>

    <div ng-show="cart.itemsCount > 0" ng-cloak="">
        <div ng-init="setCartForm(formCart)"></div>
        <form name="formCart" novalidate="novalidate">
          <div class="cart__items">
            <div class="row cart__items__header hide--mobile">
                <div class="column small-5">
                  <div class="cart__item__image--heading text--left text--extra-bold">
                    Item
                  </div>
                </div>
                <div class="column small-2 medium-4">
                  <div class="cart__item__price--heading text--extra-bold text--center">
                    Unit Price
                  </div>
                </div>
                <div class="column small-2">
                  <div class="cart__item__quantity--heading text--extra-bold text--center">
                    Quantity
                  </div>
                </div>
                <div class="column small-1">
                  <div class="cart__item__remove--heading text--extra-bold text--center">
                    Remove
                  </div>
                </div>
              </div>
              
            <div ng-repeat="lineItem in cart.items">
                <div class="row collapse cart__item first">
                    <div class="column small-12 medium-5 cart__item__info-wrapper">
                      <div class="cart__item__image left">
                        <a href="/products/matrix-total-results-brass-off-duo?variant=38146378662065" title="MATRIX Total Results Brass Off Duo">
                          <div class="product-thumbnail__image text--center">
                            <img ng-src="{% raw %}{{ lineItem.imageUrl }}{% endraw %}" ng-if="lineItem.imageUrl" />
                            <div class="no-product-image" ng-if="!lineItem.imageUrl">
                                <img src="{{ 'images/no-image.svg' | asset_url }}" />
                            </div>
                          </div>
                        </a>
                      </div>
                      <div class="cart__item__info right">                       
                        <p>
                          <span ng-bind="lineItem.name"></span>
                        </p>                       
                          <div>
                            <p class="cart__item__message text--italic font--freight">
                              
                            </p>
                          </div>                        
                      </div>
                    </div>
                    <div class="column small-3 medium-4">
                      <div class="cart__item__price text--center">
                        <div class="hide--small">
                          <span class="text--extra-bold cart__item__price--heading">
                            Unit Price:
                          </span>
                        </div>
                            <p class="item__price text--semi-bold">
                                <span class="price price__was ib"  ng-bind="lineItem.listPriceWithTax.formattedAmount"></span>
                                <span class="price price__sale ib">
                                <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="38146378662065:2357f395106b7e538d3dd0f18cf5a62a" style="display:none !important;"></span><span ng-if="lineItem.listPriceWithTax.amount != lineItem.placedPriceWithTax.amount" ng-bind="lineItem.placedPriceWithTax.formattedAmount"></span></span>                      
                            </p>
                      </div>
                    </div>
                    <div class="column small-3 medium-2">
                      <div class="cart__item__quantity text--center">
                        <div class="hide--small">
                          <span class="cart__item__quantity--heading text--extra-bold">
                            Quantity:
                          </span>
                        </div>
                        <div class="js-qty">
                          <input class="js-num ng-pristine ng-untouched ng-valid ng-not-empty ng-valid-min" min="1" name="item39b92263-bb8f-41c8-ae1e-12642cce9b23" type="number" ng-model="lineItem.quantity" ng-blur="changeLineItemQuantity(lineItem.id, lineItem.quantity)">
                          <span class="js--qty-adjuster js--add" ng-click="changeLineItemQuantity(lineItem.id, lineItem.quantity + 1)">+</span>
                          <span class="js--qty-adjuster js--minus" ng-click="changeLineItemQuantity(lineItem.id, lineItem.quantity - 1)">-</span>
                      </div>
                      </div>
                    </div>
                    <div class="column small-3 medium-1">
                      <div class="cart__item__remove text--center">
                        <div class="hide--small">
                            <span class="text--extra-bold cart__item__remove--heading">
                              Remove:
                            </span>
                        </div>
                        <p class="text--semi-bold">
                          <a class="cart__item__remove__link text--upper a--reset" ng-click="removeLineItem(lineItem.id)" title="Remove">
                            <span class="fa fa-times-circle"></span>
                          </a>
                        </p>
                      </div>
                    </div>
                  </div>
            </div>
          </div>

            <div class="row">
                    <div class="column small-12 medium-6">
                        <label for="cartSpecialInstructions" class="text--extra-bold">Additional Notes:</label>
                        <textarea id="note" name="note" class="cart__note__input" rows="2" maxlength="200" style=" box-sizing: border-box; width: 100%;" ng-model="cart.comment"></textarea>
                    </div>
                    <div class="column small-12 medium-4 medium-offset-2 large-3 large-offset-3">
                        <div class="cart-subtotal">
                            {% if settings.show_prices_with_taxes %}
                            {{ 'cart.general.subtotalWithTax' | t }}
                            <span class="h1 cart-subtotal--price">
                                <small ng-bind="cart.extendedPriceTotalWithTax.formattedAmount"></small>
                            </span>
                            {% else %}<div class="cart__subtotal clearfix">
                              <h4 class="subtotal">
                                Subtotal <strong class="right"><span id="bk-cart-subtotal-price"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span><span ng-bind="cart.extendedPriceTotal.formattedAmount"></span></span></strong>
                              </h4>
                            </div>
                            {% endif %}
                        </div>
                        <div class="cart__submit">
                          <input type="submit" ng-class="{ 'btn': !cartIsUpdating, 'btn-secondary': cartIsUpdating || errorOccured || !cart.isValid }" ng-disabled="cartIsUpdating || cart.hasValidationErrors" ng-click="submitCart()" class="button button--medium button--full checkout bold_hidden" id="checkout" name="checkout" value="Proceed to Checkout" data-event-queue-button="0" style="display: none;"><input type="submit" style="background: #41d1b9" class="button button--medium button--full checkout bold_clone" id="checkout" name="checkout" value="Proceed to Checkout" data-event-queue-button="0">
                        </div>
                    </div>
            </div>
        </form>
    </div>   
</div>
